@import '~bpk-mixins';

@import '../../../theme';

.Itinerary {
  &:not(:last-child) {
    margin-bottom: $bpk-spacing-sm;
  }

  &__segment {
    display: flex;
    flex-direction: row;
    margin-bottom: $bpk-spacing-sm;

    & > * {
      &:not(:last-child) {
        margin-right: $bpk-spacing-sm;
      }
    }

    &-carrier-icon {
      padding-top: 0.5rem;
      width: $bpk-icon-size-lg;
    }

    &-sides {
      display: flex;
      flex-direction: row;

      & > * {
        &:not(:last-child) {
          margin-right: $bpk-spacing-sm;
        }
      }

      &-side {
        display: flex;
        flex-direction: column;

        &-code {
          color: $bpk-color-sky-gray-tint-04;
        }
      }

      &-divider {
        display: flex;
        align-items: center;
        fill: $bpk-color-sky-gray-tint-04;
      }
    }

    &-details {
      display: flex;
      flex-direction: column;
      flex: 1;
      text-align: right;

      &-type-direct {
        color: $action-color-shade-4;
      }
    }
  }

  &__details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & > div {
      display: flex;
      flex-direction: column;
    }

    &-source {
      color: $bpk-color-sky-gray-tint-04;
    }

    &-select-button {
      @extend .action-button;

      display: inline-block;
      margin-top: auto;
    }
  }
}
